.services {
  width: 100%;
}

.graphic,
.photography {
  width: 100%;
  min-height: 512px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.graphic {
  background-image: url("../../images/mobile/image-graphic-design.jpg");
}
.photography {
  background-image: url("../../images/mobile/image-photography.jpg");
}

.graphic__content,
.photography__content {
  width: 95%;
  margin: auto;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.services__title {
  font-size: 1.7rem;
  font-family: var(--font-fraunces);
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.services__paragraph {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 25px;
}

.graphic__content-title {
  color: var(--dark-desaturated-cyan-graphic-design-text);
}
.graphic__content-paragraph {
  color: var(--dark-desaturated-cyan-graphic-design-text);
}

.photography__content-title {
  color: var(--dark-blue-photography-text);
}
.photography__content-paragraph {
  color: var(--dark-blue-photography-text);
}

@media screen and (min-width: 452px) {
  .graphic,
  .photography {
    background-position: center;
  }

  .graphic {
    background-image: url("../../images/desktop/image-graphic-design.jpg");
  }
  .photography {
    background-image: url("../../images/desktop/image-photography.jpg");
  }

  .services__title {
    font-size: 1.9rem;
  }

  .services__paragraph {
    font-size: 1.1rem;
  }
}
